* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: black; /* или твой фон */
}

.photo {
  width: 100%;
  position: relative; /* <== добавь это */ 
}

.map { 
    width: 500px;
    height: 47px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

img {
  width: 100%;
  height: auto;
}

.photo-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.overlay-content {
    width: 288px;
    height: 47px;
    background-color: #ffffff;
    font-size: 25px;
    font-family: sans-serif;
    position: absolute;
    top: 85%;
    left: 13%;
    text-align: center;
    color: #4d4a4a;
    font-family: sans-serif;
    text-shadow: 0 0 5px black;
    border-radius: 999px;
}

.music-button {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 20; /* добавь это */
  
  width: 50px;
  height: 50px;
  border-radius: 50%; /* делает круглой */

  background-color: #ff4081;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }


.rsvp-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  max-width: 400px;
  margin: 20px auto;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.rsvp-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #ff4081;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #e63770;
}
